--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: biosentinel
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO biosentinel;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: biosentinel
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO biosentinel;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: biosentinel
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO biosentinel;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: biosentinel
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.alerts (
    id integer NOT NULL,
    reserve_id integer NOT NULL,
    alert_type character varying(80) NOT NULL,
    severity character varying(30) NOT NULL,
    description text NOT NULL,
    detected_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(30) DEFAULT 'OPEN'::character varying
);


ALTER TABLE public.alerts OWNER TO biosentinel;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.alerts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_id_seq OWNER TO biosentinel;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.alerts_id_seq OWNED BY public.alerts.id;


--
-- Name: environmental_reserves; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.environmental_reserves (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying(150) NOT NULL,
    state character(2) NOT NULL,
    city character varying(120),
    area_hectares numeric(12,2),
    boundary public.geometry(Polygon,4326) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.environmental_reserves OWNER TO biosentinel;

--
-- Name: environmental_reserves_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.environmental_reserves_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.environmental_reserves_id_seq OWNER TO biosentinel;

--
-- Name: environmental_reserves_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.environmental_reserves_id_seq OWNED BY public.environmental_reserves.id;


--
-- Name: iot_sensor_readings; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.iot_sensor_readings (
    id integer NOT NULL,
    reserve_id integer NOT NULL,
    sensor_type character varying(80) NOT NULL,
    value numeric(10,2) NOT NULL,
    unit character varying(20) NOT NULL,
    measured_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.iot_sensor_readings OWNER TO biosentinel;

--
-- Name: iot_sensor_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.iot_sensor_readings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.iot_sensor_readings_id_seq OWNER TO biosentinel;

--
-- Name: iot_sensor_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.iot_sensor_readings_id_seq OWNED BY public.iot_sensor_readings.id;


--
-- Name: land_cover_analysis; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.land_cover_analysis (
    id integer NOT NULL,
    reserve_id integer NOT NULL,
    dataset_id integer NOT NULL,
    class_code integer NOT NULL,
    class_name character varying(100) NOT NULL,
    area_hectares numeric(12,2) NOT NULL,
    percentage numeric(5,2) NOT NULL,
    analyzed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.land_cover_analysis OWNER TO biosentinel;

--
-- Name: land_cover_analysis_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.land_cover_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.land_cover_analysis_id_seq OWNER TO biosentinel;

--
-- Name: land_cover_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.land_cover_analysis_id_seq OWNED BY public.land_cover_analysis.id;


--
-- Name: satellite_datasets; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.satellite_datasets (
    id integer NOT NULL,
    source character varying(100) NOT NULL,
    year integer NOT NULL,
    resolution_meters integer NOT NULL,
    file_path text NOT NULL,
    imported_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.satellite_datasets OWNER TO biosentinel;

--
-- Name: satellite_datasets_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.satellite_datasets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.satellite_datasets_id_seq OWNER TO biosentinel;

--
-- Name: satellite_datasets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.satellite_datasets_id_seq OWNED BY public.satellite_datasets.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: biosentinel
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(160) NOT NULL,
    role character varying(50) DEFAULT 'ANALYST'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO biosentinel;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: biosentinel
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO biosentinel;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: biosentinel
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: alerts id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.alerts ALTER COLUMN id SET DEFAULT nextval('public.alerts_id_seq'::regclass);


--
-- Name: environmental_reserves id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.environmental_reserves ALTER COLUMN id SET DEFAULT nextval('public.environmental_reserves_id_seq'::regclass);


--
-- Name: iot_sensor_readings id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.iot_sensor_readings ALTER COLUMN id SET DEFAULT nextval('public.iot_sensor_readings_id_seq'::regclass);


--
-- Name: land_cover_analysis id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.land_cover_analysis ALTER COLUMN id SET DEFAULT nextval('public.land_cover_analysis_id_seq'::regclass);


--
-- Name: satellite_datasets id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.satellite_datasets ALTER COLUMN id SET DEFAULT nextval('public.satellite_datasets_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.alerts (id, reserve_id, alert_type, severity, description, detected_at, status) FROM stdin;
\.


--
-- Data for Name: environmental_reserves; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.environmental_reserves (id, user_id, name, state, city, area_hectares, boundary, created_at) FROM stdin;
1	1	Reserva Demo S??o Paulo	SP	S??o Paulo	123.21	0103000020E610000001000000050000009A999999995947C09A999999999937C0B81E85EB515847C09A999999999937C0B81E85EB515847C0D7A3703D0A9737C09A999999995947C0D7A3703D0A9737C09A999999995947C09A999999999937C0	2026-06-03 01:44:22.26208
\.


--
-- Data for Name: iot_sensor_readings; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.iot_sensor_readings (id, reserve_id, sensor_type, value, unit, measured_at) FROM stdin;
\.


--
-- Data for Name: land_cover_analysis; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.land_cover_analysis (id, reserve_id, dataset_id, class_code, class_name, area_hectares, percentage, analyzed_at) FROM stdin;
32	1	1	3	Forma├º├úo Florestal	0.09	0.07	2026-06-04 02:20:25.753163
33	1	1	11	Campo Alagado e ├ürea Pantanosa	0.07	0.06	2026-06-04 02:20:25.753163
34	1	1	21	Mosaico de Usos	6.97	5.66	2026-06-04 02:20:25.753163
35	1	1	24	├ürea Urbanizada	108.19	87.81	2026-06-04 02:20:25.753163
36	1	1	25	Outra ├ürea N├úo Vegetada	0.48	0.39	2026-06-04 02:20:25.753163
37	1	1	33	Rio, Lago e Oceano	7.41	6.01	2026-06-04 02:20:25.753163
\.


--
-- Data for Name: satellite_datasets; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.satellite_datasets (id, source, year, resolution_meters, file_path, imported_at) FROM stdin;
1	MapBiomas Cobertura 10m	2023	10	/data/mapbiomas_2023.tif	2026-06-03 01:44:22.273435
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: biosentinel
--

COPY public.users (id, name, email, role, created_at) FROM stdin;
1	Demo Admin	admin@biosentinel.com	ADMIN	2026-06-03 01:44:22.259487
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: biosentinel
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: biosentinel
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: biosentinel
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: biosentinel
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: biosentinel
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: biosentinel
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.alerts_id_seq', 1, false);


--
-- Name: environmental_reserves_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.environmental_reserves_id_seq', 1, true);


--
-- Name: iot_sensor_readings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.iot_sensor_readings_id_seq', 1, false);


--
-- Name: land_cover_analysis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.land_cover_analysis_id_seq', 37, true);


--
-- Name: satellite_datasets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.satellite_datasets_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: biosentinel
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: biosentinel
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: environmental_reserves environmental_reserves_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.environmental_reserves
    ADD CONSTRAINT environmental_reserves_pkey PRIMARY KEY (id);


--
-- Name: iot_sensor_readings iot_sensor_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.iot_sensor_readings
    ADD CONSTRAINT iot_sensor_readings_pkey PRIMARY KEY (id);


--
-- Name: land_cover_analysis land_cover_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.land_cover_analysis
    ADD CONSTRAINT land_cover_analysis_pkey PRIMARY KEY (id);


--
-- Name: satellite_datasets satellite_datasets_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.satellite_datasets
    ADD CONSTRAINT satellite_datasets_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_reserve_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_reserve_id_fkey FOREIGN KEY (reserve_id) REFERENCES public.environmental_reserves(id);


--
-- Name: environmental_reserves environmental_reserves_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.environmental_reserves
    ADD CONSTRAINT environmental_reserves_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: iot_sensor_readings iot_sensor_readings_reserve_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.iot_sensor_readings
    ADD CONSTRAINT iot_sensor_readings_reserve_id_fkey FOREIGN KEY (reserve_id) REFERENCES public.environmental_reserves(id);


--
-- Name: land_cover_analysis land_cover_analysis_dataset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.land_cover_analysis
    ADD CONSTRAINT land_cover_analysis_dataset_id_fkey FOREIGN KEY (dataset_id) REFERENCES public.satellite_datasets(id);


--
-- Name: land_cover_analysis land_cover_analysis_reserve_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: biosentinel
--

ALTER TABLE ONLY public.land_cover_analysis
    ADD CONSTRAINT land_cover_analysis_reserve_id_fkey FOREIGN KEY (reserve_id) REFERENCES public.environmental_reserves(id);


--
-- PostgreSQL database dump complete
--

